/* app css stylesheet */

body {
    padding-top: 20px;
    padding-bottom: 80px;
    background-image: url('../img/header-bg-01-01.png');
    background-repeat: repeat-x;

}




/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0 100px 0;
    text-align: center;
    color: white;

}
.jumbotron h1 {
    font-size:60px;
    line-height: 1;

}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
    color: #333;

}
.jumbotron .btn-large {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/*
.section-text {
    font-family: 'Lato', sans-serif;
}

.section-text h2 {
    font-weight: 900;
    font-style: italic;
}

.section-text p {
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.3em;
}
*/

ul.section-list {
    margin: 0;
}

ul.section-list .row {
    margin: 0;
}

ul.section-list li {
    list-style: none;
}

.section-img-left {
    width: 200px;
    height:200px;
    margin-right: 20px;
}

.section-img-right {
    width: 200px;
    height:200px;
    margin-left: 20px;
}

.relative-position {
    position: relative;
    top: 0;
    left: 0;
}

.section-img-left .relative-position .img-left {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.section-img-right .relative-position .img-right {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.img-pos {
    position:absolute;
    top: 0;
    left: 0;
    z-index: 100;
}


.test-img-left {
     position: relative;
     top: 0;
     left: 0;
     /*width: 50px;
     height: 50px;
     background: blue;
     */
 }

.test-img-right {
    position: relative;
    top: 0;
    left: 150px;
    margin: 0;
}

.git-icon {
    width: 20px;
}



@media screen and (max-width: 960px) {
    body {
        padding-top:0;

    }

    .jumbotron {
        margin-top: 30px;
    }

    .jumbotron h1 {
        font-size:40px;
        line-height: 1;

    }
    .jumbotron .lead {
        font-size: 16px;
        line-height: 1.25;
        color: #333;

    }
    .jumbotron .btn-large {
        font-size: 12px;
        padding: 10px 18px;

    }

    .pull-right {
        float: left;
    }

    .git-icon {
        width: 15px;
    }


}

@media screen and (max-width: 480px) {

    .jumbotron {
        margin-top: 0px;
    }

    .jumbotron h1 {
        font-size:38px;
        line-height: 1;

    }

    .git-icon {
        width: 15px;
    }

}